@import "variables/index";

// Do not forget to update getting-started/theming.md!
:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }
}

//*{
//  outline: red 2px solid;
//}

@import "reboot-custom";
@import "animation";
@import "font-style";
@import "button-style";
@import "space";
//@import "grid";

.isPc {
  @include mediaquery-sm {
    display: none !important;
  }
}

.isSp {
  @include mediaquery-not-sm {
    display: none !important;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  @include mediaquery-not-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
    max-width: $size-container;
  }
  @include mediaquery-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
  }
}

// ----- Universal section
.section {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  overflow-x: hidden;

  &__head {
  }

  &__title {
    margin-top: 0;
    font-size: 60px;
  }

  &__subtitle {
    font-size: 25px;
    margin-bottom: 1.5rem;
  }

  &__body {
    @include mediaquery-not-sm {
      font-size: 18px;
    }
    @include mediaquery-sm {
      font-size: 16px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }

    .button {
      margin-top: 2rem;
    }

    padding-bottom: 3.5rem;
  }
}


.button {
  display: inline-block;
  position: relative;
  padding: 0.75rem 3.5rem;
  text-align: center;
  text-decoration: none;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  span {
    position: relative;
    font-size: 14px;
  }

  &-primary {
    color: $color-text-white;

    &:before {
      background: #867C84;
    }

    &:hover {
      color: #B48362;
      /*  color: #8CBCBF;*/

      &:before {
        background: #ffffff;
      }
    }
  }

  &-secondary {

  }

  &-disabled {
    pointer-events: none;
    color: $color-text-white;
    opacity: 0.4;

    &:before {
      background: #867C84;
    }
  }
}

.module {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@import "modules/index";
@import "page/top";
