@import "variables/index";

// Do not forget to update getting-started/theming.md!
:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }
}

@import "reboot-custom";
@import "animation";
@import "font-style";
@import "button-style";
@import "space";
//@import "grid";

.isPc {
  @include mediaquery-sm {
    display: none;
  }
}

.isSp {
  @include mediaquery-not-sm {
    display: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  @include mediaquery-not-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
    max-width: $size-container;
  }
  @include mediaquery-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
  }
}

.module {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@import "page/top";
