@import "variables/index";

// Do not forget to update getting-started/theming.md!
:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $semantic-colors {
    --color-#{$color}: #{$value};
  }
}

//*{
//  outline: red 2px solid;
//}

@import "reboot-custom";
@import "animation";
@import "font-style";
@import "button-style";
@import "space";
//@import "grid";

.isPc {
  @include mediaquery-sm {
    display: none !important;
  }
}

.isSp {
  @include mediaquery-not-sm {
    display: none !important;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  @include mediaquery-not-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
    max-width: $size-container;
  }
  @include mediaquery-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
  }
}

.page-title {
  color: $color-text-white;
  font-size: 60px;
}

.module {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@import "modules/index";
@import "page/top";
