.section_about{
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-right: 4.5rem;
  about{
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    width: 100px;
  }
  about::before{
    transform: skewX(-45deg);
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-color:#00FBFF;
  }
}
.report-list{
  margin-left: 20rem;
  margin-right: 20rem;
}
.section_projects{
  padding-right: 5rem;
  padding-left: 5rem;
}
.section_entry{
  padding-right: 5rem;
  padding-left: 5rem;
}
.section_sponsor{
  margin-top: 30rem;
}
