.section{
  padding-top: 9rem;
  padding-bottom: 4.5rem;
  background-color: #E8E8E8;
  .body{
    width: 80%;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    right: -10%;

    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 2rem;
      left: -4rem;
      width: 150%;
      height: 100%;
      transform: skew(-20deg);
      z-index: -2;
      background: -moz-linear-gradient(left, #CFB09C, #B48362);
      background: -webkit-linear-gradient(left, #CFB09C, #B48362);
      background: linear-gradient(to right, #CFB09C, #B48362);
    }
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transform: skew(-20deg);
      z-index: -1;
      background-color: #FCF8F3;
      opacity: 0.56;
    }

  }
}

.section_about{
  padding-right: 4.5rem;
}

.section_project{
  padding-right: 4.5rem;
}

.section_sponsor{
  padding-right: 4.5rem;
}

.section_reports{
  background-color: #8CBCBF;
}

.section_entry{
  padding-top: 9rem;
  padding-bottom: 4.5rem;
  padding-left: 4.5rem;
  background-color: #e8e8e8;
  .body {
    width: 80%;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    left: -10%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 2rem;
      right: -4rem;
      width: 150%;
      height: 100%;
      transform: skew(20deg);
      z-index: -2;
      background: -moz-linear-gradient(left, #8CBCBF, #93DDE2);
      background: -webkit-linear-gradient(left, #8CBCBF, #93DDE2);
      background: linear-gradient(to right, #8CBCBF, #93DDE2);
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      transform: skew(20deg);
      z-index: -1;
      background-color: #FCF8F3;
      opacity: 0.56;
    }
  }
}

