/**
.skew-box.skew-box--right
で右寄せ
.skew-box.skew-box--left
で左寄せ
.skew-box.skew-box--blue
青くなる

にできる。
 */

.skew-box {
  position: relative;
  @include mediaquery-not-sm {
    width: 80%;
  }
  @include mediaquery-sm {
    width: 100%;
  }
  z-index: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  //outline: red solid 2px;

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
  }

  &:before {
    top: 2rem;
    width: 150%;
    z-index: -2;
    background: linear-gradient(to right, #CFB09C, #B48362);
  }

  &:after {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: #FCF8F3;
    opacity: 0.56;
  }

  // ----- 右寄せ
  &--right {
    margin-right: 0;

    &:before, &:after {
      transform: skew(-20deg);
    }

    &:before {
      left: -4rem;
    }

    .button:before {
      transform: skew(-20deg)
    }
  }

  // ----- 左寄せ
  &--left {
    margin-left: 0;

    &:before, &:after {
      transform: skew(20deg);
    }

    &:before {
      right: -4rem;
    }

    .button:before {
      transform: skew(20deg)
    }
  }

  // ----- 寒色
  &--blue {
    &:before {
      background: linear-gradient(to right, #8CBCBF, #93DDE2);
    }

    &:after {
      background-color: #FCF8F3;
    }
  }
}
