//@import '~bootstrap/scss/functions';
//@import '~bootstrap/scss/variables';

$rem: 16px;
$gutter: 2rem;
$size-container: ($rem * 5 * 12) + ($rem * 2 * 11) + ($rem * 2 * 2);
$spacer: 1rem !default;

@import "color";
@import "screen";
@import "mediaquery";
@import "zindex";
@import "ease";
@import "shadow";
